.DS_Store
*.py[co]
.*.swp

#Embedded C
*.axf
*.swp
*.htm
*.Inp
*.map
*.tra
*.dep
*._2i
*.l2p
*.__i
*.fed
*.crf
*.d
*.o
*.lst
*.lnp
*.bak

*.ini
*.iex
*.sct
*.uvgui.*
*.uvguix.*
*.tmp
**/arm/JLinkLog.txt
**/_viminfo
**/_vimtags
_build/
RTE/
Output/

#PSOC Creator
# Project Settings
*.cywrk.*
*.cyprj.*

# Generated Assets and Resources
Debug/
Release/
Export/
*/codegentemp
*/Generated_Source
*_datasheet.pdf
*_timing.html
*.cycdx
*.cyfit
*.rpt
*.svd
